footer {
  min-height: 40vh;
  background: #77787b;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    padding-top: 1rem;
  }
  p {
    color: #fff;
    letter-spacing: 1px;
    font-size: 0.6rem;
    padding: 0.5rem 0rem;
    .website-by {
      font-size: 0.6rem;
      color: #fff;
      opacity: 0.8;
      transition: all 0.4s ease;
      &:hover {
        opacity: 1;
        color: #fff;
      }
    }
  }
  li,
  a {
    list-style: none;
    font-size: 0.8rem;
    text-decoration: none;
    text-align: left;
    letter-spacing: 1.5px;
    color: #fff;
    padding: 0.5rem 0rem;
    transition: color 0.4s ease;
    &:hover {
      color: #f49ac1;
    }

    .footer-icon {
      color: #f49ac1;
      padding-right: 0.5rem;
      @media (max-width: 915px) {
        padding-right: 0.3rem;
      }
    }
    .icon {
      font-size: 1.2rem;
      color: #f49ac1;
      margin-left: 0.5rem;
      transition: color 0.4s ease;
      &:hover {
        color: #f49ac1;
      }
    }
    .footer-link-no-clickable {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
    @media (max-width: 768px) {
      text-align: center;
    }
  }

  .footer-columns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .footer-card {
      flex-basis: 27%;
      display: block;
      height: 300px;
      padding: 1rem;
      @media (max-width: 1070px) {
        flex-basis: 30%;
      }
      @media (max-width: 768px) {
        flex-basis: 100%;
        padding: 0.5rem;
        height: auto;
      }
      .footer-card-attribute {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
      }
    }
  }
}
