footer {
  li,
  a {
    list-style: none;
    font-size: 0.8rem;
    text-decoration: none;
    text-align: left;
    letter-spacing: 1.5px;
    color: #fff;
    padding: 0.5rem 0rem;
    transition: color 0.4s ease;
    &:hover {
      color: #f49ac1;
    }
    @media (max-width: 768px) {
      text-align: center;
    }
  }
}
