.hero-section {
  // margin: 5rem 0rem;
  .hero-content {
    width: 50%;
    @media screen and (max-width: 1070px) {
      width: 40%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .grid-row {
    margin-right: -5rem;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    @media screen and (max-width: 1070px) {
      width: 60%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      margin-right: 0rem;
    }
    .grid-column {
      flex: 25%;
      max-width: 25%;
      padding: 0.5rem;

      img {
        margin: 1rem 0rem;
        vertical-align: middle;
        width: 100%;
        object-fit: cover;
        border: 1px solid black;
        border-radius: 10px;
        transition: all 0.4s ease;
        &:hover {
          box-shadow: 0 0 11px rgba(8, 8, 8, 0.5);
        }
      }
      @media screen and (max-width: 768px) {
        flex: 33%;
        max-width: 33%;
      }
      // @media screen and (max-width: 500px) {
      //   flex: 100%;
      //   max-width: 100%;
      // }
    }
  }
}
