.resize-animation-stopper * {
  transition: none !important;
  animation: none !important;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  height: 10vh;
  border-bottom: 1px solid black;
  nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0rem 2rem;
    background-color: #f0e9eb;
    @media (max-width: 768px) {
      justify-content: space-between;
    }

    .logo {
      width: 300px;
      height: auto;
      object-fit: cover;
      @media only screen and (max-width: 768px) {
        max-width: auto;
      }
      @media only screen and (max-width: 500px) {
        width: 250px;
      }
      @media only screen and (max-width: 360px) {
        max-width: 200px;
      }
    }
    .nav-links {
      display: flex;
      flex-wrap: wrap;
      margin-left: auto;
      list-style: none;
      @media screen and (max-width: 1070px) {
        width: 100%;
        justify-content: center;
        padding-bottom: 1rem;
      }

      li {
        padding-left: 2rem;
        font-size: 1.2rem;
        .cta-call {
          padding: 10px 12px;
          color: #e4389b;
          border: 1px solid #f49ac1;
          border-radius: 10px;
          transition: all 0.4s ease;
          &:hover,
          &:focus {
            color: #fff;
            background: #f49ac1;
          }
          .phone-icon {
            margin-right: 10px;
          }
        }
        a {
          color: #282828;
          text-decoration: none;
          transition: all 0.3s ease;
          &:hover,
          &:focus {
            color: #f49ac1;
            cursor: pointer;
          }
        }
        .icon {
          margin-right: 10px;
          color: #f49ac1;
        }
      }
    }
    .burger div {
      width: 25px;
      height: 3px;
      margin: 5px;
      background-color: #e4389b;
      transition: all 0.3s ease;
      @media only screen and (max-width: 360px) {
        width: 20px;
        margin: 3px;
      }
    }
    .burger {
      display: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  header {
    nav {
      .nav-links {
        position: absolute;
        top: 10vh;
        right: 0px;
        height: 90vh;
        width: 30%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: #f0e9eb;
        transform: translateX(100%);
        transition: all 0.3s ease;
        @media (max-width: 500px) {
          width: 100%;
          justify-content: center;
          gap: 5rem;
        }
        li {
          padding-left: 0;
        }
      }
      .nav-active {
        transform: translateX(0%);
      }
      .burger {
        display: block;
      }
      .toggle-burger .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
        @media only screen and (max-width: 360px) {
          transform: rotate(-45deg) translate(-5px, 3px);
        }
      }
      .toggle-burger .line2 {
        opacity: 0;
      }
      .toggle-burger .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
        @media only screen and (max-width: 360px) {
          transform: rotate(45deg) translate(-5px, -3px);
        }
      }
    }
  }
}
