nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  margin: auto;
  // background: #282828;
  background: #ffff;
  // background-color: #f5dfe8;

  position: sticky;
  top: 0;
  left: 0;
  .logo {
    width: 200px;
    height: 100%;
  }

  .nav-links {
    display: flex;
    list-style: none;
    li {
      padding-left: 2rem;
      font-size: 1rem;
      letter-spacing: 1px;
      .cta-call {
        padding: 5px 25px;
        color: #e4389b;
        border: 1px solid #e4389b;
        border-radius: 13px;
        transition: all 0.4s ease;
        &:hover {
          color: #282828;
          background: #e4389b;
        }
        .phone-icon {
          margin-right: 10px;
        }
      }
      a {
        color: #282828;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover,
        &:focus {
          color: #e4389b;
          cursor: pointer;
        }
      }
    }
  }
  .burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #e4389b;
    transition: all 0.3s ease;
  }
  .burger {
    display: none;
    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 897px) {
  body {
    overflow-x: hidden;
  }
  nav {
    .nav-links {
      position: absolute;
      top: 12.8vh;
      right: 0px;
      height: 90vh;
      width: 30%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-color: #fff;
      transform: translateX(100%);
      transition: transform 0.3s ease;
      @media (max-width: 500px) {
        top: 10vh;
        width: 100%;
        height: 90vh;
      }
      li {
        padding-left: 0;
      }
    }
    .nav-active {
      transform: translateX(0%);
    }
    .burger {
      display: block;
    }
    .toggle-burger .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle-burger .line2 {
      opacity: 0;
    }
    .toggle-burger .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
}
