.resize-animation-stopper * {
  transition: none !important;
  animation: none !important;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  height: 10vh;
  border-bottom: 1px solid black;
}
header nav {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0rem 2rem;
  background-color: #f0e9eb;
}
@media (max-width: 768px) {
  header nav {
    justify-content: space-between;
  }
}
header nav .logo {
  width: 300px;
  height: auto;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  header nav .logo {
    max-width: auto;
  }
}
@media only screen and (max-width: 500px) {
  header nav .logo {
    width: 250px;
  }
}
@media only screen and (max-width: 360px) {
  header nav .logo {
    max-width: 200px;
  }
}
header nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  list-style: none;
}
@media screen and (max-width: 1070px) {
  header nav .nav-links {
    width: 100%;
    justify-content: center;
    padding-bottom: 1rem;
  }
}
header nav .nav-links li {
  padding-left: 2rem;
  font-size: 1.2rem;
}
header nav .nav-links li .cta-call {
  padding: 10px 12px;
  color: #e4389b;
  border: 1px solid #f49ac1;
  border-radius: 10px;
  transition: all 0.3s ease;
}
header nav .nav-links li .cta-call:hover, header nav .nav-links li .cta-call:focus {
  color: #fff;
  background: #f49ac1;
}
header nav .nav-links li .cta-call .phone-icon {
  margin-right: 10px;
}
header nav .nav-links li a {
  color: #282828;
  text-decoration: none;
  transition: all 0.3s ease;
}
header nav .nav-links li a:hover, header nav .nav-links li a:focus {
  color: #f49ac1;
  cursor: pointer;
}
header nav .nav-links li a:hover .icon, header nav .nav-links li a:focus .icon {
  color: #f49ac1;
}
header nav .nav-links li .icon {
  color: #282828;
  margin-right: 5px;
  transition: all 0.3s ease;
}
header nav .burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #e4389b;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 360px) {
  header nav .burger div {
    width: 20px;
    margin: 3px;
  }
}
header nav .burger {
  display: none;
}
header nav .burger:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  header nav .nav-links {
    position: absolute;
    top: 10vh;
    right: 0px;
    height: 90vh;
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f0e9eb;
    transform: translateX(100%);
    transition: all 0.3s ease;
  }
}
@media screen and (max-width: 768px) and (max-width: 500px) {
  header nav .nav-links {
    width: 100%;
    justify-content: center;
    gap: 5rem;
  }
}
@media screen and (max-width: 768px) {
  header nav .nav-links li {
    padding-left: 0;
  }
}
@media screen and (max-width: 768px) {
  header nav .nav-active {
    transform: translateX(0%);
  }
}
@media screen and (max-width: 768px) {
  header nav .burger {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  header nav .toggle-burger .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
}
@media only screen and (max-width: 768px) and (max-width: 360px) {
  header nav .toggle-burger .line1 {
    transform: rotate(-45deg) translate(-5px, 3px);
  }
}
@media screen and (max-width: 768px) {
  header nav .toggle-burger .line2 {
    opacity: 0;
  }
}
@media screen and (max-width: 768px) {
  header nav .toggle-burger .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
@media only screen and (max-width: 768px) and (max-width: 360px) {
  header nav .toggle-burger .line3 {
    transform: rotate(45deg) translate(-5px, -3px);
  }
}/*# sourceMappingURL=Nav.css.map */